@page
@model _234191F_AS_Assignment1.Pages.Account.ManageModel

<h2>Manage Account</h2>

<!-- Link to Enable 2FA -->
<div>
    <a href="/Account/Enable2FAModel">Enable Two-Factor Authentication (2FA)</a>
</div>
